<ion-view view-title="" id="login">
    <ion-content class="padding">
        <div style="text-align:center;">
            <img src='img/logo.png' style='margin: auto;'>
        </div>
        <div style="padding:0 10%;">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="login.username" placeholder="Username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                    <input type="password" ng-model="login.password" placeholder="Password">
                </label>
            </div>
            <div style="text-align:right;">
                <button class="button button-clear button-dark" ng-click="openModal()">
                    Sign up
                </button>
                <button class="button button-calm" ng-click="login()">
                    Login
                </button>
            </div>
        </div>
    </ion-content>
    <img src='img/cat.png' style='z-index: -999; position: absolute; bottom:0; '>
</ion-view>