<ion-view view-title="<img src='img/logo.png' style='height: 35px; margin-top: 5px;'>">
  <ion-content>

      <div class="row" style="text-align:center;">
          <img src='img/profile.jpg' height="100" width="100" style='margin: auto;'>
        </div>

        <div class="row" style="text-align:center;">
          <div class="col">
          <h4>Warat Kaweepornpoj</h4>
        </div>
        </div>

        <div class="row" style="text-align:center;">
          <div class="col">
            <button class="button button-outline button-positive">
              Edit profile
            </button>
            <button class="button button-outline button-positive">
              Account Setting
            </button>
        </div>
        </div>



    <div class="item item-divider">
      My Pet
    </div>


    <div class="row">

        <img src='img/dog1.jpg' height="150" width="150">

        <img src='img/dog1.jpg' height="150" width="150" style='margin-left: 5px;'>

    </div>

    <div class="item item-divider">
      Activity
    </div>

    <div class="list" style='margin-top: auto;'>

    <a class="item item-avatar" href="#">
      <img src="img/dog1.jpg">
      <div class="row row-center" style='padding: 0px;'>
        <div class="col col-90"><b>nn.namelesz</b></div>
        <div class="col" style='text-align:right;'><p>Today ></p></div>
      </div>
      <p>ได้ทำการบริจาคเงินให้ Corgi ของคุณ</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/dog1.jpg">
      <div class="row row-center" style='padding: 0px;'>
        <div class="col col-90"><b>Satit</b></div>
        <div class="col" style='text-align:right;'><p>Yesterday ></p></div>
      </div>
      <p>ได้แจ้งความประสงค์ที่จะช่วยสัตว์เลี้ยงของคุณ</p>
    </a>

</div>

  </ion-content>
</ion-view>
