<ion-view view-title="<img src='img/logo.png' style='height: 35px; margin-top: 5px;'>">
  <ion-content>
    <div class="list">
    <div ng-repeat="post in posts">
      <div class="item item-avatar">
        <img src="http://placekitten.com/g/150/150">
        <h2>{{post.PetName}}</h2>
        <p>{{post.timestamp}}</p>
      </div>

      <div class="item item-image">
        <img ng-src="{{post.Photo}}">
      </div>

      <a class="item item-icon-right" href="#">
        <i class="icon ion-ios-bookmarks-outline" style="margin-right: 40px;"></i>
        <i class="icon ion-android-favorite assertive" ></i>
        <h2>{{post.Breed}} / Age: {{post.Age}}</h2>
        <p>
          {{post.Description}} / Need: {{post.Need}}
        </p>
      </a>
    </div>

  </ion-content>
</ion-view>
