<ion-view view-title="<img src='img/logo.png' style='height: 35px; margin-top: 5px;'>">

    <ion-content class="padding">
      <div style="text-align:center;">
          <img src='img/logo.png' style='margin: auto;'>
      </div>
      <div style="padding:0 10%;">
        <h3>Create New Post</h3 text-align="center">


            <div class="list">
              <div class="list">

                <div class="item item-button-right">
                  Upload Photo
                  <button class="button button-positive">
                    <i class="icon ion-social-instagram-outline"></i>
                  </button>
                </div>



              </div>
              <label class="item item-input ">
                <span class="input-label">Post Details</span>
                <input type="text" placeholder="">
              </label>
              <label class="item item-input ">
                <span class="input-label">Pet Name</span>
                <input type="text" placeholder="">
              </label>


                <label class="item item-input item-select">
                  <div class="input-label">
                    Breed
                  </div>
                  <select>
                    <option>Siberian Husky (dog)</option>
                    <option>Pug (dog)</option>
                    <option>Shiba Inu (dog)</option>
                    <option>Golden Retreiver (dog)</option>
                    <option selected>Scottish Fold (cat)</option>
                    <option >Siamese Cat (cat)</option>
                    <option >Munchkin Cat (cat)</option>
                  </select>
                </label>

              <label class="item item-input ">
                <span class="input-label">Ages</span>
                <input type="text" placeholder="">
              </label>
              <label class="item item-input ">
                <span class="input-label">Description</span>
                <input type="text" placeholder="">
              </label>
              <label class="item item-input ">
                <span class="input-label">Contact</span>
                <input type="text" placeholder="">
              </label>

              <label class="item item-input item-select">
                <div class="input-label">
                  Needs
                </div>
                <select>
                  <option selected>Money</option>
                  <option >Blood</option>
                  <option >Things</option>
                  <option >Pet Lost</option>
                  <option >Find Adopt</option>
                </select>
              </label>

              <ul class="list">
                <li class="item item-toggle">
                   Enable Donation
                   <label class="toggle toggle-balanced">
                     <input type="checkbox">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                   </label>
                </li>
              </ul>

            </div>
            <button class="button button-block button-outline button-positive">
              Submit
            </button>
      </div>
  </ion-content>
</ion-view>
