<ion-view view-title="<img src='img/logo.png' style='height: 35px; margin-top: 5px;'>">
  <ion-content>
    <ion-list>


      <div style="text-align:center;">
          <img src='img/profile.jpg' height="100" width="100" style='margin: auto;'>
          <h4>Warat Kaweepornpoj</h4>
          <button class="button button-outline button-positive">
            Edit profile
          </button>
          <button class="button button-outline button-positive">
            Account Setting
          </button>
      </div>

      <div class="bar bar-stable" style='margin: 10px;'>
        <h1 class="title">My pet</h1>
      </div>


  </ion-content>
</ion-view>
