<ion-view view-title="<img src='img/logo.png' style='height: 35px; margin-top: 5px;'>">
  <ion-content>
    <ion-list>


      <div style="text-align:center;">
          <img src='img/cat.png' style='margin: auto;'>
          <h4>Warat Kaweepornpoj</h4>
          <button class="button button-outline button-positive">
            Edit profile
          </button>
          <button class="button button-outline button-positive">
            Account Setting
          </button>
      </div>


  </ion-content>
</ion-view>
